<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Carpooling Home')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<header class="masthead" id="mainPage">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">The only place you need for your travels</h1>
                <hr class="divider"/>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Carpooling can help you find yourself a ride or companions for your next
                    trip. Just make a profile and apply for your next travel.</p>
            </div>
        </div>
    </div>
</header>
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Take life by the wheel!</h2>
                <hr class="divider divider-light"/>
                <p class="text-white-75 mb-4">Carpooling has everything to set out on the journey you've always wanted
                    with like-minded people! Go look for passengers for your next trip or form contacts with new
                    people</p>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/PageFrame :: footerAlt}"></div>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
</html>