<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Register')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<div class="masthead">
    <div class="container d-flex align-items-center flex-column">
        <h2>Register</h2>
        <form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">
            <label th:text="#{register.label.username}">Username</label>
            <br/>
            <input type="text" th:field="*{username}"/>
            <label class="text-warning" th:errors="*{username}">Username error placeholder</label>
            <br/><br/>

            <label th:text="#{register.label.password}">Password</label>
            <br/>
            <input type="password" th:field="*{password}"/>
            <label class="text-warning" th:errors="*{password}">Password error placeholder</label>
            <br/><br/>

            <label th:text="#{register.label.password-confirm}">Confirm Password</label>
            <br/>
            <input type="password" th:field="*{passwordConfirm}"/>
            <label class="text-warning" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
            <br/><br/>

            <label th:text="#{register.label.first-name}">First Name</label>
            <br/>
            <input type="text" th:field="*{firstName}"/>
            <label class="text-warning" th:errors="*{firstName}">First name error placeholder</label>
            <br/><br/>

            <label th:text="#{register.label.last-name}">Last Name</label>
            <br/>
            <input type="text" th:field="*{lastName}"/>
            <label class="text-warning" th:errors="*{lastName}">Last name error placeholder</label>
            <br/><br/>

            <label th:text="#{register.label.email}">Email</label>
            <br/>
            <input type="text" th:field="*{email}"/>
            <label class="text-warning" th:errors="*{email}">Email error placeholder</label>
            <br/><br/>

            <label th:text="#{register.label.phone-number}">Phone number</label>
            <br/>
            <input type="text" th:field="*{phoneNumber}"/>
            <label class="text-warning" th:errors="*{phoneNumber}">Phone number error placeholder</label>
            <br/><br/>
            <input type="submit" value="Register"/>
        </form>
    </div>
</div>
<div th:replace="~{fragments/PageFrame :: footer}"></div>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
</html>