<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Create Trip')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<div class="masthead">
    <div class="container d-flex align-items-center flex-column">
        <form th:replace="~{fragments/TravelForm :: travelDetail('Your next Travel')}"></form>
    </div>
</div>
<div th:replace="~{fragments/PageFrame :: footerAlt}"></div>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
</html>