<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${'Carpooling | ' + title}">Title</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}">

    <!-- Css Theme files -->
    <link href="../../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="navbar" class ="navbar navbar-expand-lg navbar-light text-uppercase fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#" th:href="@{/}">Carpooling</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-label="Toggle navigation" aria-expanded="false">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/auth/register}"
                       th:text="#{navigation.all-travels}">Browse all Travels</a></li>
                <li th:unless="${isAuthenticated}" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/travels}"
                       th:text="#{navigation.all-travels}">Browse all Travels</a></li>
                <li th:unless="${isAuthenticated}" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/auth/login}">Login</a></li>
                <li th:unless="${isAuthenticated}" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/auth/register}">Register</a></li>
                <li th:if="${isAuthenticated}" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/auth/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>